@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@500;600 & display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

.login-main {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-esquerda > h1{
    color: #010039; 
    font-size: 3vw;
}

.imagem-login-esquerda{
    width: 48vw;
    
    
}

.login-direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px 35px;
    background: #010039;
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

.form-login{

    width: 80%;
    justify-content: center;
    align-items: center;
}


.card-login > h1{
    color:rgb(255, 204, 0);
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:10px 0px;
}

.textfield > input{
  width: 100%;
  border:none;
  border-radius: 10px;
  padding: 15px;
  background: #16144c;  
  font-size:10pt;
  box-shadow: 0px 10px 40px black;
  outline: none;
  box-sizing: border-box;
  color: white;
}

.textfield > label{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color:#302f69;
}

.textfield > a {

    margin-top: 20px;
    text-decoration: none;
    color:rgb(255, 204, 0);
}

.textfield > a:hover {

    transition:1s;
    color: rgb(255, 213, 43);
}

.btn-login {
   
    font-size: -1em;
    width: 100%;
    padding:16px 0px;
    margin-top: 15px ;
    margin-bottom:25px;
    border:none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    color: #04022d;
    background:rgb(255, 204, 0) ;
    cursor: pointer;
    
}

.btn-login:hover{
    box-shadow: 0px 10px 20px -12px rgb(255, 204, 0);
    transition: 1s;
    cursor: pointer;
}

