* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.cursos {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.categoria-cursos {
  padding: 0 10vw;
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.container-cursos {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}
.container-cursos::-webkit-scrollbar {
  display: none;
}
.curso-card {
  flex: 0 0 auto;
  width: 410px;
  height: 40vh;
  margin-right: 2vw;
}
.curso-image {
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: hidden;
}
.thumb-curso {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tag-desconto {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #009688;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.curso-card:hover .card-btn {
  opacity: 1;
}
.card-btn:hover {
  background: #009688;
  color: #fff;
}
.curso-nome {
  text-transform: uppercase;
}
.curso-descricao {
  width: 100%;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 2px 0;
}
.preco {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.preco-atual {
  font-weight: 900;
  font-size: 20px;
}
.ant-btn,
.prox-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 100%);
  cursor: pointer;
  z-index: 9;
}
.ant-btn {
  left: 0;
  transform: rotate(180deg);
}
.prox-btn {
  right: 0;
}
.ant-btn img,
.prox-btn img {
  opacity: 0.2;
}
.ant-btn:hover img,
.prox-btn:hover img {
  opacity: 1;
}
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.collection {
  position: relative;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
