@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Figtree', sans-serif;

}


.card-perfil-aluno {
    display: flex;
    height: 100%;
    margin: 1%;

}

.card-exibicao-perfil-aluno {
    box-shadow: 0px 1px 10px #79797993;
    border: solid #ffffffbb 1px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
    height: 100vh;
    display: flex;
    background-color: #fafafabb;

}

.card-excluir-perfil {
    background-color: #010039;
    width: 50%;
    height: 22%;
    /*  RESOLUÇÃO 90%: CASO DER ERRO MUDA PRA  16%
    RESOLUÇÃO 100%: CASO DER ERRO MUDA PRA 28%*/
    margin-left: 25%;
    margin-top: 20%;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 20px 15px;
    color: #f9f9f9fa;
    transition: ease-in-out 1s;
}


.card-sair-perfil {
    background-color: #010039;
    width: 50%;
    height: 15%;
    margin-left: 25%;
    margin-top: 20%;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 20px 15px;
    color: #f9f9f9fa;
    transition: ease-in-out 1s;
}


.card-excluir-perfil,
.card-sair-perfil:hover {
    box-shadow: 0px 1px 10px #000000;
    transition: ease-in-out 1s;
}

.nav-bar-perfil-aluno-excluir,
.nav-bar-perfil-aluno-sair {
    width: 20%;
    height: 100vh;
    background-color: #010039;
    box-shadow: 0px 1px 10px #000000;
    border-radius: 10px;
    margin-top: 5%;
}

.nav-bar-perfil-aluno-excluir>h1,
.nav-bar-perfil-aluno-sair>h1 {
    color: white;
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5em;
}



.imagem-perfil-aluno {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px #000000;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;

}

.ul-nav-bar-perfil-aluno-excluir,
.li-nav-bar-perfil-aluno-excluir a {

    text-decoration: none;
    list-style: none;

}

.ul-nav-bar-perfil-aluno-sair,
.li-nav-bar-perfil-aluno-sair a {

    text-decoration: none;
    list-style: none;

}


.li-nav-bar-perfil-aluno-excluir,
.li-nav-bar-perfil-aluno-sair {

    transition: ease-in-out 0.5s;
    padding: 5px;
    font-size: 1em;

}

.li-nav-bar-perfil-aluno-excluir:hover,
.li-nav-bar-perfil-aluno-sair:hover {
    transition: ease-in-out 1s;
    background-color: #ffffffe3;
}

.li-nav-bar-perfil-aluno-excluir a:hover,
.li-nav-bar-perfil-aluno-sair a:hover {
    color: #000000;
    transition: ease-in-out 0.5s;

}

.li-nav-bar-perfil-aluno-excluir a,
.li-nav-bar-perfil-aluno-sair a {
    color: rgba(255, 255, 255, 0.918);
    transition: ease-in-out 1s;
}


.li-nav-bar-perfil-aluno-excluir p,
.li-nav-bar-perfil-aluno-sair p {
    margin-left: 15%;
    font-size: 105%;
    display: inline;
}


.btn-login {

    font-size: -1em;
    width: 20%;
    padding: 10px 0px;
    margin-top: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    color: #04022d;
    background: #ff9216;
    cursor: pointer;
    transition: 1s;
}

.btn-login:hover {
    box-shadow: 0px 10px 20px -12px #F39322;
    transition: 1s;
    cursor: pointer;
}


.btn-login-sair {

    font-size: -1em;
    width: 20%;
    padding: 10px 0px;
    margin-top: 23px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    color: #04022d;
    background: #ff9216;
    cursor: pointer;
    transition: 1s;
}

.btn-login-sair:hover {
    box-shadow: 0px 10px 20px -12px #F39322;
    transition: 1s;
    cursor: pointer;
}
