@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap');

* {
    margin: 0;
}

body {
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Figtree', sans-serif;


}


.imagem-banner {
    width: 100%;

    margin-bottom: 0;

}


.card-profissionais {

    height: 40vh;
    width: 100%;

    margin-bottom: 5%;

    border-radius: 10px;
    display: flex;

}


/* lado esquerdo card prof-image */

.h1-card-profissionais {


    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 2.5%;
    text-align: center;
    position: absolute;
    font-size: 2.5em;

}


.profile-image {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px #1c19e0;
    margin-left: 10%;
    z-index: 1;
    position: absolute;
    top: 400px;

}


.card-profissional-desc {

    width: 100%;
    display: flex;
    text-align: justify;
    line-height: 1.5em;

    padding: 10px;
    box-shadow: 0px 0px 5px rgb(216, 216, 216);
    border-radius: 10px;


}

.p-card-profissional-desc {


    display: flex;
    font-size: 130%;
    margin: 10% 4%;

}

.card-profissional-image {

    display: flex;
    flex-direction: column;

    cursor: pointer;
    border-radius: 10px 0 0 10px;

}

.icon-instagram {
    width: 52px;
    height: 52px;
    position: absolute;
}

.icon-linkedin {
    width: 45px;
    height: 45px;
    margin-top: 4%;
    margin-left: 0.3%;
    position: absolute;

}

.links-social-midia {
    margin: 0;

}
