* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .slider {
    margin: 0 auto;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
  }
  .slides {
    width: 400vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 25%;
    position: relative;
    transition: 2s;
    overflow: hidden;
  }
  .slide img {
    width: 100vw;
  }
  .manual_nav {
    position: relative;
    width: 100vw;
    margin-top: -20vh;
    display: flex;
    justify-content: center;
  }
  .manual_b {
    border: 10px solid white;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: 1s;
  }
  .manual_b:not(:last-child) {
    margin-right: 4vw;
  }
  .manual_b:hover {
    background-color: white;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  .auto_nav section {
    border: 10px solid white;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    transition: 1s;
  }
  .auto_nav {
    position: absolute;
    width: 100vw;
    margin-top: 80vh;
    display: flex;
    justify-content: center;
  }
  .auto_nav section:not(:last-child) {
    margin-right: 4vw;
  }
  #radio1:checked ~ .auto_nav .autoclick1 {
    background-color: white;
  }
  #radio2:checked ~ .auto_nav .autoclick2 {
    background-color: white;
  }
  #radio3:checked ~ .auto_nav .autoclick3 {
    background-color: white;
  }
  